# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# data and IDEA files
L1/.idea/
L1/MINST_data/

L2/.idea/
L2/cifar10_data/
L2/cifar10_train/

L3/.idea/
L3/slim/satellite/
L3/slim/satellite/
L3/data_prepare/pic/

L4/.idea/
L4/*.pb
L4/*.txt
L4/*.zip

L6/


L5/.idea/
L5/font/
L5/nb_images/
L5/.ipynb_checkpoints/


L12/.idea/
L12/model/


L13/.idea/
L14/.idea/
L14/*.zip
L15/.idea/
L16/.idea/
L16/nmt/nmt_model

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.jpg
*.png
*.npy
*.log
*.npz
*.pkl
*.h5
